# Entorno
.env

# Dependencias
/vendor/

# Datos generados en ejecución
/storage/config/*
/storage/logs/*
/storage/uploads/
!/storage/**/.gitkeep

# Herramientas
.vscode/*
!.vscode/launch.json
.phpunit.cache/
.idea/
/backups/
